Localization
{
	fr-fr
	{
		#DCKROT_rotation = Rotation
		#DCKROT_angle = Angle
		#DCKROT_status = État
		#DCKROT_rotation_step = Étape de rotation
		#DCKROT_rotation_speed = Vitesse de rotation
		#DCKROT_reverse_rotation = Inverser la rotation
		#DCKROT_rotate_clockwise = Tourner dans le sens horaire (+)
		#DCKROT_rotate_counterclockwise = Tourner dans le sens anti-horaire (-)
		#DCKROT_rotate_to_snap = Tourner jusqu'au cran
		#DCKROT_smart_autostruts = Étai auto. intelligent
	}
}
