// Localization by github user Fitiales

Localization
{
	es-es
	{
		#DCKROT_rotation = Rotación
		#DCKROT_angle = Ángulo
		#DCKROT_status = Estado
		#DCKROT_rotation_step = Paso de rotación
		#DCKROT_rotation_speed = Velocidad de rotación
		#DCKROT_reverse_rotation = Rotación inversa
		#DCKROT_flip_flop_mode = Modo Flip-flop
		#DCKROT_enable_rotation = Habilitar Rotación
		#DCKROT_disable_rotation = Deshabilitar Rotación
		#DCKROT_toggle_rotation = Conmutar Rotación
		#DCKROT_rotate_clockwise = Rotar agujas de reloj (+)
		#DCKROT_rotate_counterclockwise = Rotar sentido antihorario (-)
		#DCKROT_rotate_to_snap = Girar para ajustar
		#DCKROT_stop_rotation = Detener rotación
		#DCKROT_smart_autostruts = Auto estructuras inteligentes
		#DCKROT_node_displayname = Nodo Giratorio
		#DCKROT_node_info = La parte conectada al nodo '<<1>>' puede rotar
		#DCKROT_port_displayname = Puerto Giratorio
		#DCKROT_port_info = Este puerto puede rotar cuando está acoplado a otro puerto del mismo tamaño
		#DCKROT_n_a = n/a
		#DCKROT_bad_states = DockRotate found problems\nwith some docking ports\n*** CHECK THE LOG ***
		#DCKROT_log_state = Bad state, log details
		#DCKROT_switch_to_ready = Allow Docking
		#DCKROT_weld = Weld
		#DCKROT_engineer_needed = <b><color=orange>Only Engineers can weld docking ports</color></b>
	}
}

